<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F7C52281F7D39E4004A91BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F7C523C1F7D39E5004A91BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F7C52471F7D39E5004A91BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
