<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lift Lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Lift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>QuickLook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SQLitePreview.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SQLiteQuickLook.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F0D317A214AD16500ADE9F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2CB1BF2182208E00BA3A35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F7C52281F7D39E4004A91BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F7C523C1F7D39E5004A91BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F7C52471F7D39E5004A91BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FB4D415214BEC0400BE8881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FB4D436214BF1E700BE8881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
